*.pyc
*.swp
*.dsk
*.d
*.compat
*.asm.out
*.au
*.bin
*.sym
*.wav
*.exe
*.pak
*.cdt
file/*.swp
file/*.o
file/addblock
file/2cdt.c
.out
junk/*
hello.txt
nulls
gcrminimal.txt
gcrtable.txt
showbug.zip
legacy/
build/
data/
.deps/
pictures/
screens/*.order
*~
ay/midi2ay*
rose/clut.png
rose/*-16.png
compress.pickle
xxx
symbols-32.asm
push.log
